<%- include('./partials/blogheader.ejs'); -%>
<div class="main-content">
    <h1>About</h1>
    <p>
        I am a Web Developer experienced in using programming languages and libraries such as HTML5, CSS3, JavaScript, React and Python 
        to create various features for websites. In addition to my experience, I have a solid educational background and a passion for 
        programming. Personally, I am a motivated person who can work towards a goal with patience and persistance. 
        If you are interested, please contact me either by email or phone.
    </p>
</div>

<%- include('./partials/blogfooter.ejs'); -%>