
.main-content {
  padding: 1rem 2rem;
  font-size: 2rem;
}
/* footer */
.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
  background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 16px;
  color: #fff;
}


.nav-div {
  display: inline;
  width: 50vw; 
}
.nav-items {
  padding: 0 3rem;
  margin-top: 1rem;
  color: black;
  text-decoration: none !important;
}


.topnav {
  background-color: #1abc9c;
  overflow: hidden;
  padding: 2rem;
  display: flex;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-title {
  margin-left: 5rem;
  font-size: 32px !important;
  text-decoration: none !important;
  color: black;
}

  
  /* Change the color of links on hover */
.topnav a:hover {
  color: black;
}
  
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


.profile-a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 3rem 1rem 0 1rem;
  position: relative;
  font-size: 3rem;
  top: 0;
  transition: top ease 0.5s;
  width: 20%;
}
.profile-a:hover {
  top: 1rem;
}

.centered {
  margin: 14rem auto 1rem auto;
  text-align: center;
  width: 30vw;
  background-color: #fff;
  border: 2px solid #1abc9c;
  border-radius: 25px;
}

.btn-lg {
  font-size: 3rem;
}

.register {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {
      display: none;
  }

  .topnav a.icon {
  float: right;
  display: block;
  }
  .main-content {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {
      position: relative;
      display: block;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-left: 2.2rem;
  }
  .icon {
    margin-top: 1rem;
    margin-right: 2rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  .profile-a {
    font-size: 1.5rem;
    width: 50%;
  }
  .topnav {
    padding: 0rem;
    
  }
}
