<%- include('./partials/blogheader.ejs'); -%>
<div class="main-content">
    <h1>Contact</h1>
    <div class="profile-div">
        <a href="mailto: ibsa.ej@gmail.com" class="profile-a" target="_blank"><strong>@</strong> Send a mail</a>
        <a href="tel:1-416-919-3074" class="profile-a" target="_blank"><i class="fas fa-mobile-alt"></i> Call me</a>
        <a href="https://github.com/ibsa-ejeta/" class="profile-a" target="_blank"><i class="fab fa-github-square"></i> GitHub</a>
        <a href="https://www.linkedin.com/in/ibsaejeta/" class="profile-a" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
    </div>
</div>
<%- include('./partials/blogfooter.ejs'); -%>