<%- include('./partials/blogheader.ejs'); -%>
<head>
    <link rel="stylesheet" href="../css/blogstyles.css">
</head>
<div class="main-content">
    <h1><%= postTitle %></h1>
    <p><%= postBody %></p>
</div>
    <script src='../blogjs.js'></script>
<%- include('./partials/blogfooter.ejs'); -%>